# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# Editor/IDE files
.vscode/
.idea/

# Bytecode and logs
*.log
*.pot
*.pyc

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
